# Cache de compilation Nim
nimcache/
src/nimcache/
nimdoc/

# Exécutables et binaires
*.exe
*.bin
/VoightNim
src/VoightNim

# Fichiers de configuration utilisateur / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp